/* 
    Document   : ie-lte-8
    Created on : 31-Mar-2013, 12:40:49
    Author     : SMason
    Description:
        Purpose of the stylesheet follows.
*/

 
.node-type-jobs .block-mp-submit-cv-job-apply form#mp-submit-cv-job-apply-form input[type="text"]   {
     height: 28px;
    width: 154px;
    
    font-style:italic;
    color:#666;   
    border:none;
    padding:7px;
    background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/search/free_text_req_job.png") repeat scroll 0 0 transparent;
}
     .url-job-hire-job-upload .block-main .form-item-jsu-regions {
            z-index:9999
        }
        
        .intro {
            font-size:12px;
        }
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-first-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-last-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}
 .url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-last-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-first-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}
.url-find-job-cv-upload .block-main span.interests {
   right:5px !important 
}

.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form #edit-csu-comments {
    
     margin-bottom: 85px;
     top: 356px;
    position:absolute;
}

.mu_back {
background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/buttons/back_to_updates.jpg") repeat scroll 0 0 transparent !important;
    display: inline-block;
    float: left;
    height: 29px;
    left: 20px;
    position: absolute;
    top: 50px !important;
    width: 118px;
    z-index: 9999999;margin-bottom:20px;
    
}
 