/* 
    Document   : ie-lte-7
    Created on : 31-Mar-2013, 12:40:59
    Author     : SMason
    Description:
        Purpose of the stylesheet follows.
*/

 form#mp-searchform-quicksearch-form input[type="text"] {
    
    
    border:0;
    float:left;
     
    margin-top:2px;
    width:140px;
    height:20px;
    padding-top:4px;
    padding-left:5px;
    padding-right:30px;
}

form#mp-searchform-quicksearch-form input.form-submit {
    width:82px;
    height:30px;
    background:url(https://oilandgas.page.com/sites/all/themes/mp/css/images/buttons/quich_search_button.png);
     text-indent:-200000px;
    text-transform:capitalize;
    font-size:0;
    display:block;
    line-height:0;
    border-radius:0;
    border:0;
    
    
}

.expand {
    float:right;
    position:absolute;
    top:22px;
    right:10px
}
.expand a {
    display:block;
    width:110px;
    background:url(https://oilandgas.page.com/sites/all/themes/mp/css/images/footer/expand_click.jpg) right no-repeat;
    height:16px;
    font-size:11px;
    margin-top:4px;
    margin-right:10px;display:block
}
.expand a:link,
.expand a:active,
.expand a:visited {
    color:#fff;
    text-decoration:none;
    display:block;
        
    
}

.slideSelectors .page-title .field-content a:link, 
.slideSelectors .page-title .field-content a:active, 
.slideSelectors .page-title .field-content a:visited  {
   
   
    bottom:10px !important; 
}
.node-type-jobs .block-mp-submit-cv-job-apply form#mp-submit-cv-job-apply-form input[type="text"]   {
  
    height:14px;
    width:141px;
    font-style:italic;
    color:#666;   
    border:none;
    background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/search/free_text_req_job.png") repeat scroll 0 0 transparent;
}
.node-type-jobs .block-mp-submit-cv-job-apply form#mp-submit-cv-job-apply-form input.form-file {
     height: 14px !important;
    width: 140px !important;
    
    font-style:italic;
    color:#666;   
    border:none;
    background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/search/free_text_req_job.png") repeat scroll 0 0 transparent;
}
.node-type-jobs .block-mp-submit-cv-job-apply form#mp-submit-cv-job-apply-form .form-item-afj-telephone input {
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #848484;
    height: 13px !important;
    margin-right: 2px;
}
.url-job-hire-job-upload .block-main .wb-container {
    left: 20px;
    position: absolute;
    top: -120px;
    width:450px;
    font-size:11px;
    padding-bottom:90px;
        margin-top:10px;
}
.url-job-hire-job-upload .block-main .form-item-jsu-regions {
    display: inline-block;
    left: 20px;
    position: absolute;
    top: -31px;
}
.msg {
    position:absolute;
    width:520px;top:-27px;left:5px;font-size:11px
}
.url-job-hire-job-upload .block-main .wb-container .source {
    float: left;
    margin-right: 7px;
    position: absolute;
    top: 20px;
}
.global-text {
    position:relative;
    top:2px
}
.form-item-jsu-regions {
    z-index:9
}
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-first-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-last-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-email-address {
    float: left;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    top: 70px;
    width: 300px;
     
}
.url-job-hire-job-upload .block-main #edit-jsu-comments {
    height: 74px;
    margin-bottom: 80px;
    margin-right: 20px;
    position: absolute;
    top: 120px;
    width: 560px;
}
.url-job-hire-job-upload .block-main  .form-type-file {
/*    position:absolute;
    top:438px;
    left:20px;*/
position: absolute;
    top: 200px;
    left:20px
}
.url-job-hire-job-upload .block-main input[class="form-submit"]  {

    background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/buttons/BTN_submit.jpg") repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    height: 30px;
/*    left: 422px;
    position: absolute;*/
    text-indent: -2000px;
/*    top: 115px;*/
    width: 73px;
        position:absolute;
    top:217px;
    left:505px;
}
.url-job-hire-job-upload .mp-submit-cv-csu-form-footer {
    
/*    bottom: -185px;*/
DISPLAY:NONE;
    
        }
        
        
        .error-box {
         
        }
        .url-job-hire-job-upload .block-main .form-item-jsu-regions {
            z-index:9999
        }
        
        .intro {
            font-size:12px;
        }
        
        
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-first-name {
    margin-left:10px
   
}

.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-last-name {
    position:absolute;
    top:0px;
    left:230px;
}
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-email-address {
    position:absolute;
    top:60px;
    left:-20px;
    
}
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-comments {
    margin-top:275px
}
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form input[type="text"]  {
    
    width:174px !important;
    height:28px !important;
    background:url(https://oilandgas.page.com/sites/all/themes/mp/css/images/search/advanced_search_free_text_req174.png) no-repeat;
    border:0px;
    font-style:italic;
    color:#666;
    float:left;
    adding:7px;
}

 .url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-last-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-first-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}
.url-find-job-cv-upload .block-main span.interests {
   right:5px !important 
}
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-type-file .description {
   
    width:450px;
        padding-top:3px;
}


.url-job-hire-job-upload-container {
    background: url(https://oilandgas.page.com/sites/all/themes/mp/css/images/backgrounds/submit_spec_back.jpg) repeat-y;
    width:606px;
    min-height:494px;
    padding: 110px 20px 0px;
    float:left
}  
.msg {
    position:absolute;width:620px;top:-42px;left:23px;font-size:11px
}
.mu_back {
background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/buttons/back_to_updates.jpg") repeat scroll 0 0 transparent !important;
    display: inline-block;
    float: left;
    height: 29px;
    left: 20px;
    position: absolute;
    top: 50px !important;
    width: 118px;
    z-index: 9999999;margin-bottom:20px;
}