/* 
    Document   : ie-lte-9
    Created on : 31-Mar-2013, 12:40:35
    Author     : SMason
    Description:
        Purpose of the stylesheet follows.
*/
.form-item-jsu-regions {
    z-index:9
}
 form#mp-searchform-quicksearch-form input[type="text"] {
    
    
      width:178px;
    height:26px;
    background:url(https://oilandgas.page.com/sites/all/themes/mp/css/images/search/quick_search_free_text.jpg);
    border:0;
    float:left;
    margin-right:10px;
    margin-top:2px;
    padding-top:6px !important
}

     .url-job-hire-job-upload .block-main .form-item-jsu-regions {
            z-index:9999
        }
        
        .intro {
            font-size:12px;
        }
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-first-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-last-name input,
.url-job-hire-job-upload .block-main form#mp-submit-cv-jsu-form .form-item-jsu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}

  .url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form .form-item-csu-last-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-first-name input,
.url-find-job-cv-upload .block-main form#mp-submit-cv-csu-form  .form-item-csu-email-address input
{
  
    padding: 7px 0 0 5px;
     
}
.url-find-job-cv-upload .block-main span.interests {
   right:5px !important 
}
.mu_back {
background: url("https://oilandgas.page.com/sites/all/themes/mp/css/images/buttons/back_to_updates.jpg") repeat scroll 0 0 transparent !important;
    display: inline-block;
    float: left;
    height: 29px;
    left: 20px;
    position: absolute;
    top: 50px !important;
    width: 118px;
    z-index: 9999999;margin-bottom:20px;
}